tr
th
{
	border : 1px solid;
	font-size: 150%;
	padding: 25px
}
.trueee
{
	background-color: orange
}
.notes
{
	background-color:  magenta
}
.rofl
{
	background-color: skyblue
}
.hello
{
	background-color: yellow
}
.darkness
{
	background-color: darkgrey
}
